# dependencies
node_modules/

# next.js
.next/
out/

# logs
*.log

# environment variables
.env
.env.local
.env.development.local
.env.production.local

# typescript
*.tsbuildinfo

# tauri build files
src-tauri/target/
src-tauri/icons/

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# temp files
temp/
.cache/

# docs
ARCHITECTURE.md